/* -----------------------------Review Page--------------------- */

.review-page{
    background-image: url("../imagesFolder/light.jpg");
  }
  
  /* ------------Movie Class------------ */
  #background-video{
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }