/* -------------------------Business Post Page ------------------*/
.business-post-card {
    background-position: top 50% right 0%;
    background-repeat: no-repeat; 
    background-size: center;
    background-attachment: fixed;
    overflow-y: scroll;
  }


  .businessUsername{
    position:absolute;
    top: 2%;
    right: 80%;
    font-size: 20px;
    padding: 0;
  }

  .businessUsername img{
    width: 90%;
    height: auto;
  }
  
  .business-page {
    height: 100vh;
    width: 100vw;
    padding: none;
    margin: none;
    max-width: 2000px;
    max-height: 2000px;  
    background-image: url("../imagesFolder/light.jpg");
    background-position: top 20% left 0%;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
  }
  